h1 {
	text-align: center;
}
/* ------------------------------------------
        This is for Form Element
------------------------------------------*/
button {
	float: right;
}
input {
	margin-top: 5px;
}